<div class="navigation-wrapper">

  <!-- ONE nav, ONE ul, SIX li -->
  <nav class="cover-navigation cover-navigation--primary">
    <ul class="navigation">
      <!-- site links -->
      <li class="navigation__item"><a href="{{ site.baseurl }}/about"          class="blog-button">about</a></li>
      <li class="navigation__item"><a href="{{ site.baseurl }}/research"       class="blog-button">research</a></li>
      <li class="navigation__item"><a href="{{ site.baseurl }}/files/CV/KotiaCV.pdf" class="blog-button">cv</a></li>
      <li class="navigation__item"><a href="{{ site.baseurl }}/other-writing"  class="blog-button">other writings</a></li>

      <!-- social links -->
      {% if site.author.email %}
      <li class="navigation__item">
        <a href="mailto:{{ site.author.email }}" title="Email">
          <i class="fa fa-at"></i><span class="label">email</span>
        </a>
      </li>
      {% endif %}
      <li class="navigation__item">
        <a href="https://twitter.com/ananyakotia" title="Twitter" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i><span class="label">twitter</span>
        </a>
      </li>
    </ul>
  </nav>

</div><!-- /.navigation-wrapper -->
