<div class="navigation-wrapper">

  <!-- FIRST ROW – main pages -->
  <nav class="cover-navigation cover-navigation--primary">
    <ul class="navigation navigation--main">
      <li class="navigation__item">
        <a href="{{ site.baseurl }}/research"  class="blog-button">research</a>
      </li>
      <li class="navigation__item">
        <a href="{{ site.baseurl }}/about"     class="blog-button">about</a>
      </li>
      <li class="navigation__item">
        <a href="{{ site.baseurl }}/files/CV/KotiaCV.pdf" class="blog-button">cv</a>
      </li>

      <!-- This dummy item forces everything after it to wrap to the next line -->
      <li class="navigation__item navigation__break"></li>

      <!-- SECOND ROW – extra pages -->
      <li class="navigation__item">
        <a href="{{ site.baseurl }}/other-writing" class="blog-button">other&nbsp;writings</a>
      </li>
    </ul>
  </nav>

  <!-- SECOND ROW – social icons -->
  <nav class="cover-navigation navigation--social">
    <ul class="navigation navigation--social">
      {% if site.author.email %}
      <li class="navigation__item">
        <a href="mailto:{{ site.author.email }}" target="_blank" title="email">
          <i class="fa fa-at fa-2x"></i><span class="label">email</span>
        </a>
      </li>
      {% endif %}
      <li class="navigation__item">
        <a href="https://twitter.com/ananyakotia" target="_blank" title="twitter">
          <i class="fa fa-twitter fa-2x"></i><span class="label">twitter</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
