<!-- === NAVIGATION BUTTONS (two-row flexbox) === -->
<ul class="nav-buttons">
  <li><a href="{{ site.baseurl }}/about/">About</a></li>
  <li><a href="{{ site.baseurl }}/research/">Research</a></li>
  <li><a href="{{ site.baseurl }}/cv/">CV</a></li>

  <!-- HARD BREAK between rows -->
  <li class="break"></li>

  <li><a href="{{ site.baseurl }}/other-writing/">Other writing</a></li>
  <li><a href="https://twitter.com/YourHandle"  aria-label="Twitter">
        <i class="fa fa-twitter"></i></a></li>
  <li><a href="mailto:you@lse.ac.uk"            aria-label="E-mail">
        <i class="fa fa-envelope"></i></a></li>
</ul>
