<!-- abtract toggle -->
<script>
  document.querySelectorAll(".abstract-toggle").forEach((toggle) => {
      toggle.addEventListener("click", (e) => {
          const abstractId = e.target.dataset.abstractId;
          const abstractElement = document.getElementById(abstractId);

          // Toggle the current abstract
          const isHidden = abstractElement.style.maxHeight === "0px";
          abstractElement.style.maxHeight = isHidden ? abstractElement.scrollHeight + "px" : "0px";

          // Update the toggle text
          e.target.textContent = isHidden ? "▽ Abstract" : "▷ Abstract";

          // Hide other abstracts and reset their toggle text
          document.querySelectorAll(".abstract-toggle").forEach((elem) => {
              if (elem.dataset.abstractId !== abstractId) {
                  const otherAbstractElement = document.getElementById(elem.dataset.abstractId);
                  otherAbstractElement.style.maxHeight = "0px";
                  elem.textContent = "▷ Abstract";
              }
          });
      });
  });
</script>
<!-- abtract toggle -->